&lt;-- Today --&gt;
<hr />
<button mat-raised-button color="primary"
    (click)="logBleeding()">Bleeding</button>
<button mat-raised-button color="primary"
    (click)="logTemperature()">Temperature</button>
<button mat-raised-button color="primary">Cervical Mucus</button>
<button mat-raised-button color="primary">Cervix</button>
<button mat-raised-button color="primary">Sex</button>
<button mat-raised-button color="primary">Desire</button>
<button mat-raised-button color="primary">Pain</button>
<button mat-raised-button color="primary">Mood</button>
<button mat-raised-button color="primary">Note</button>